*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.hidden-spacer {
    height: 56px
}